* {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  body{
    background-color: #f9f4e3;
  }
  button {
    background-color: #d4ddb1;
    border-radius: 6px;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    width: 150px;
    cursor: pointer;
    font-weight: bold;
  }
  #placeholder, #placeholder-1, #placeholder-2, #placeholder-3, #placeholder-4, #placeholder-5{
    height: 50px;
    width: 50px;
    padding: 50px;
    margin: 50px auto;
    border: 1px solid gray;
    border-radius: 10px;  
    font-size:60px;
    background-color: white;
    text-align: center;
  }
  .dices{
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  .dices div{
    margin: 0 25px;
  }

  h1{
    font-size: 50px;
    background-color:#7a6448;
    padding: 30px;
  }